<div class="user">
  <div class="header">
    <h2>Фамилия</h2>
    <h3>surname</h3>
    <button routerLink="/" class="btn btn-link">На главную</button>
  </div>
  <div class="info">
    <h3>Имя</h3>
    <p>name</p>
    <h3>Город</h3>
    <p>city</p>
    <h4>Дата рождения</h4>
    <p>dateOfBirth</p>
  </div>
  <div class="ownData">
    <h4>Номер телефона</h4>
    <p>phone</p>
    <h4>Электронная почта</h4>
    <p>email</p>
    <h4>Место работы</h4>
    <p>company</p>
    <h3>Личный номер</h3>
    <p>id</p>
  </div>
</div>
